= default_form_for @game, html: { role: "form" } do |f|
  = f.input :name
  = f.input :start
  = f.input :registration_end
  = f.input :max_number_of_teams
  = f.input :min_number_of_teams
  = f.button :submit
