
- content_for :title do
  Games

%table.table
  %tr
    %th Name
    %th Start
    %th Registration end
    %th
    %th
    %th

  - @games.each do |game|
    %tr
      %td= game.name
      %td= game.start
      %td= game.registration_end
      %td= link_to 'Show', game
      %td= link_to 'Edit', edit_game_path(game)
      %td= link_to 'Destroy', game, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Game', new_game_path
