- content_for :title do
  Game

%h2= game.name

%dl.dl-horizontal
  %dt Start
  %dd= game.start

  %dt Registration end:
  %dd= game.registration_end

  %dt Maximum teams:
  %dd= game.max_number_of_teams

  %dt Minimum teams:
  %dd= game.min_number_of_teams

%p
  %strong Registred teams
  %span.badge
    = game.registred_teams_count

= game.registred_teams_list

= link_to 'Edit', edit_game_path(game), class: "btn btn-default"
