- content_for :title do
  Player

%h2= player.full_name

%p
  %strong
    Email
  = player.email

%p
  %strong
    Nick:
  = player.nick_name

%p
  %strong
    Bio:
  = player.bio

= link_to 'Edit', edit_player_path, class: "btn btn-default"