!!! 5
%html(lang="en")
  %head
    %title Urbanity
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = stylesheet_link_tag("application", media: "all")
    = javascript_include_tag("application")
    = csrf_meta_tags

  %body
    = render "shared/navbar"
    .nav-app-icon.pattern-noise
      .container
        .row.title-bar.inverse-major
          %h4.title
            = section_title()
          .navbar-header
            / visible only at mobile size
            %a.btn.btn-sm.navbar-toggle(data-toggle="collapse" data-target=".navbar-collapse")
              %span.sr-only
                Toggle navigation
              %i.fa.fa-fw.fa-bars
        .row
          .col-sm-3.nav-icon
            / wrapper div required to avoid breaking grid
            .collapse.navbar-collapse
              = render partial: "shared/sidenav"
              /= render_navigation context: "main", renderer: :cascade_side_navigation_renderer
          .col-sm-9.app-view
            = yield
